<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>Round01</key>
        <dict>
            <key>Army009</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>9</string>
            </dict>
            <key>Army001</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>1</string>
            </dict>
            <key>Army002</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>2</string>
            </dict>
            <key>Army003</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>3</string>
            </dict>
            <key>Army004</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>4</string>
            </dict>
            <key>Army005</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>5</string>
            </dict>
            <key>Army006</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>6</string>
            </dict>
            <key>Army007</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>7</string>
            </dict>
            <key>Army008</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>8</string>
            </dict>
            <key>Army010</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>10</string>
            </dict>
            <key>Army011</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>11</string>
            </dict>
            <key>Army012</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>12</string>
            </dict>
            <key>Army013</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>13</string>
            </dict>
            <key>Army014</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>14</string>
            </dict>
            <key>Army015</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>15</string>
            </dict>
            <key>Army016</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>16</string>
            </dict>
            <key>Army017</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>17</string>
            </dict>
            <key>Army018</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>18</string>
            </dict>
            <key>Army019</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>19</string>
            </dict>
            <key>Army020</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>20</string>
            </dict>
            <key>Army021</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>21</string>
            </dict>
            <key>Army022</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>22</string>
            </dict>
            <key>Army023</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>23</string>
            </dict>
            <key>Army024</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>24</string>
            </dict>
        </dict>
        <key>Round02</key>
        <dict>
            <key>Army009</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>9</string>
            </dict>
            <key>Army001</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>1</string>
            </dict>
            <key>Army002</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>2</string>
            </dict>
            <key>Army003</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>3</string>
            </dict>
            <key>Army004</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>4</string>
            </dict>
            <key>Army005</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>5</string>
            </dict>
            <key>Army006</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>6</string>
            </dict>
            <key>Army007</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>7</string>
            </dict>
            <key>Army008</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>8</string>
            </dict>
            <key>Army010</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>10</string>
            </dict>
            <key>Army011</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>11</string>
            </dict>
            <key>Army012</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>12</string>
            </dict>
            <key>Army013</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>13</string>
            </dict>
            <key>Army014</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>14</string>
            </dict>
            <key>Army015</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>15</string>
            </dict>
            <key>Army016</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>16</string>
            </dict>
            <key>Army017</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>17</string>
            </dict>
            <key>Army018</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>18</string>
            </dict>
            <key>Army019</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>19</string>
            </dict>
            <key>Army020</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>20</string>
            </dict>
            <key>Army021</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>21</string>
            </dict>
            <key>Army022</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>22</string>
            </dict>
            <key>Army023</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>23</string>
            </dict>
            <key>Army024</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>24</string>
            </dict>
            <key>Army025</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>25</string>
            </dict>
            <key>Army026</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>26</string>
            </dict>
            <key>Army027</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>27</string>
            </dict>
        </dict>
        <key>Round03</key>
        <dict>
            <key>Army009</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>9</string>
            </dict>
            <key>Army001</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>1</string>
            </dict>
            <key>Army002</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>2</string>
            </dict>
            <key>Army003</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>3</string>
            </dict>
            <key>Army004</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>4</string>
            </dict>
            <key>Army005</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>5</string>
            </dict>
            <key>Army006</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>6</string>
            </dict>
            <key>Army007</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>7</string>
            </dict>
            <key>Army008</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>8</string>
            </dict>
            <key>Army010</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>10</string>
            </dict>
            <key>Army011</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>11</string>
            </dict>
            <key>Army012</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>12</string>
            </dict>
            <key>Army013</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>13</string>
            </dict>
            <key>Army014</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>14</string>
            </dict>
            <key>Army015</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>15</string>
            </dict>
            <key>Army016</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>16</string>
            </dict>
            <key>Army017</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>17</string>
            </dict>
            <key>Army018</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>18</string>
            </dict>
            <key>Army019</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>19</string>
            </dict>
            <key>Army020</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>20</string>
            </dict>
            <key>Army021</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>21</string>
            </dict>
            <key>Army022</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>22</string>
            </dict>
            <key>Army023</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>23</string>
            </dict>
            <key>Army024</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>24</string>
            </dict>
            <key>Army025</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>25</string>
            </dict>
            <key>Army026</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>26</string>
            </dict>
            <key>Army027</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>27</string>
            </dict>
        </dict>
        <key>Round04</key>
        <dict>
            <key>Army009</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>9</string>
            </dict>
            <key>Army001</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>1</string>
            </dict>
            <key>Army002</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>2</string>
            </dict>
            <key>Army003</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>3</string>
            </dict>
            <key>Army004</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>4</string>
            </dict>
            <key>Army005</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>5</string>
            </dict>
            <key>Army006</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>6</string>
            </dict>
            <key>Army007</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>7</string>
            </dict>
            <key>Army008</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>8</string>
            </dict>
            <key>Army010</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>10</string>
            </dict>
            <key>Army011</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>11</string>
            </dict>
            <key>Army012</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>12</string>
            </dict>
            <key>Army013</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>13</string>
            </dict>
            <key>Army014</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>14</string>
            </dict>
            <key>Army015</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>15</string>
            </dict>
            <key>Army016</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>16</string>
            </dict>
            <key>Army017</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>17</string>
            </dict>
            <key>Army018</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>3</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>18</string>
            </dict>
            <key>Army019</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>19</string>
            </dict>
            <key>Army020</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>20</string>
            </dict>
            <key>Army021</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>2</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>21</string>
            </dict>
            <key>Army022</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>22</string>
            </dict>
            <key>Army023</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>23</string>
            </dict>
            <key>Army024</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>0</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>24</string>
            </dict>
            <key>Army025</key>
            <dict>
                <key>ArmyType</key>
                <integer>1</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>25</string>
            </dict>
            <key>Army026</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>26</string>
            </dict>
            <key>Army027</key>
            <dict>
                <key>ArmyType</key>
                <integer>2</integer>
                <key>SpeedY</key>
                <string>-9</string>
                <key>PosX</key>
                <string>1</string>
                <key>SpeedX</key>
                <string>0</string>
                <key>PosY</key>
                <string>27</string>
            </dict>
        </dict>
    </dict>
</plist>
