<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TimeBarDark.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,95},{480,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,91}}</string>
                <key>sourceSize</key>
                <string>{480,91}</string>
            </dict>
            <key>TimeBarGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{480,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,91}}</string>
                <key>sourceSize</key>
                <string>{480,91}</string>
            </dict>
            <key>aniStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,102},{88,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,84}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>aniStar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,645},{86,84}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{86,84}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>aniStar03.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,555},{88,78}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,78}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>aniStar04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,655},{80,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>aniStar05.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,944},{78,68}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{78,68}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFish01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,330},{96,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFish02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,619},{86,66}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{86,66}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFish03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,725},{68,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{68,86}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFish04.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,529},{88,66}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{88,66}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFish05.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,258},{48,62}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{48,62}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFish06.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,867},{36,36}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{36,36}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFishNu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,639},{86,84}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{86,84}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFishNu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,585},{82,68}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{82,68}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFishNu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,752},{62,72}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{62,72}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFishNu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,733},{72,64}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{72,64}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFishNu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,871},{56,52}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{56,52}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animFishNu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,717},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{46,46}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animWuzei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,497},{86,82}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animWuzei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,518},{82,84}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animWuzei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,707},{78,66}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{78,66}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animWuzei04.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,797},{72,72}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animWuzei05.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,866},{72,76}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>animWuzei06.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,937},{50,48}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{50,48}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,457},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,787},{30,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,282},{28,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bubbles1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,552},{86,85}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>bubbles1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,321},{94,71}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,71}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>bubbles1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,330},{80,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{80,83}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>bubbles1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,461},{92,89}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{92,89}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>bubles2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{98,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>bubles2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,424},{92,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>bubles2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,415},{80,80}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>bubles2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,797},{66,55}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{66,55}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>bulb.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,987},{26,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{26,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>buttonsquaresatblue0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,871},{74,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>buttonsquaresatblue0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,731},{74,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>buttonsquaresatblue0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,686},{74,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>chick.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,461},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,816},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cleared.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{460,272}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{460,272}}</string>
                <key>sourceSize</key>
                <string>{480,278}</string>
            </dict>
            <key>coin_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,321},{143,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,144}}</string>
                <key>sourceSize</key>
                <string>{143,144}</string>
            </dict>
            <key>coin_sliver.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,863},{143,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,144}}</string>
                <key>sourceSize</key>
                <string>{143,144}</string>
            </dict>
            <key>coin_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,717},{143,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,144}}</string>
                <key>sourceSize</key>
                <string>{143,144}</string>
            </dict>
            <key>failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,309}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{446,309}}</string>
                <key>sourceSize</key>
                <string>{480,319}</string>
            </dict>
            <key>guluobo.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,417},{38,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,71}}</string>
                <key>sourceSize</key>
                <string>{38,71}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,929},{48,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{48,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,188},{146,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,131}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>icon_back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,188},{146,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,131}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>icon_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,188},{140,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{140,126}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>icon_flash_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,615},{140,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{140,126}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>icon_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,874},{144,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{144,129}}</string>
                <key>sourceSize</key>
                <string>{150,137}</string>
            </dict>
            <key>icon_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,743},{144,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{144,129}}</string>
                <key>sourceSize</key>
                <string>{150,137}</string>
            </dict>
            <key>levelBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,515},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>levelBlockPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,313},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{320,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,230}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>pangxie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,188},{98,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>pangxie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,604},{80,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>pangxie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,799},{70,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>pangxie04.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,188},{68,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{68,48}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>pangxie05.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,937},{48,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{48,54}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>pangxie06.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,867},{48,48}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{48,48}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,882},{46,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,321},{146,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{150,138}</string>
            </dict>
            <key>star_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,467},{146,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,140}}</string>
                <key>sourceSize</key>
                <string>{150,144}</string>
            </dict>
            <key>thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,282},{34,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{34,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,795},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameItems.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2fac587d14f389f4c391402832acf15:1/1$</string>
            <key>textureFileName</key>
            <string>gameItems.png</string>
        </dict>
    </dict>
</plist>
